*{
    margin:0px;
    padding:0px;
}
.container{
    height: 1000px;
    width: 970px;
    background-color: darkgray;
    margin: 20px 20px;
}
img{
    height: 150px;
    width: 300px;
    margin-top:3px;
    display: block;
}
.restore{
    background-color:darkslategrey;
    color: whitesmoke;
}